// 預設變數覆蓋需要在導入Bootstrap之前
// $primary: #e412a5;
// $secondary: #131010;
// $primary:     #E64B4B;  
// $success:  #E64B4B;     
// $info:     #E64B4B;     
// $warning:    #E64B4B;   
// $danger:    #E64B4B;   
// $light:    #E64B4B;    
// $dark:     #E64B4B;  
$myLight: #F7F7EE;
$myPink: #FDD2BB;
$myDark: #383844;
$myRed: #E64B4B;
$myGray: #CDCDD2;
$myWhite: #fff; 

$primary: #E64B4B;
$white: #ffffff;
$dark: #383844;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// main > .container {
//   padding: 60px 15px 0;
// }

// .footer {
//   background-color: #f5f5f5;
// }
